{% extends 'base.html.twig' %}
{% block title %} Add new category{% endblock %}
{% block content %}
    <h1>Add Category</h1>
    {{ form_start(categoryType) }}
    {{ form_widget(categoryType) }}
    <button type="submit">Submit</button>
    {{ form_end(categoryType) }}
{% endblock %}
